/* You can add custom styles here. */

// @import "plugins/numbered";


.figure, .small-figure, .animation {
    border: 1px solid darkgray;
}

.figure {
    max-width:$figure-max-width !important;
    max-height:$figure-max-height !important;
}

.small-figure {
    max-width:$small-figure-max-width !important;
    max-height:$small-figure-max-height !important;
}

.animation {
    max-width:$figure-max-width;
}

.book-page {
    /*background: var(--page-background) !important;*/
}

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .3em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 900;
    line-height: 1.4;
    /*color: #242729;*/
    color: black;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}

.excerpt {
    padding:5px;
    background: var(--excerpt-color);
    border-style:dotted;
    max-width:50% ! important;
}

.note {
    background:orange;
}

.max-width-75 {
    max-width:75% ! important;
}

